<!--
    Centennial College
    Game Programming - COMP229 / Section 004

    Assignment 2 - Portfolio Site using Express JS

    Author: Carlos da Gama Rocha
    Student ID: 301257092
    Date: 20-Oct-2023
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="page-top">
    
    <!-- Navigation-->
    <header>
        <%- include('./partials/header'); %>
    </header>

    <!-- Page Content-->
    <div class="container-fluid p-0">
        <div class="form-container">
            <div>
                <form id="contact" name="contact" method="post" action="/contacts/edit">
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Edit Contact</legend>
                        <input type="hidden" name="id" value="<%= locals.contactToEdit._id %>" />
                        <table>
                            <tr>
                                <td><label class="form-label" for="name">Name</label></td>
                                <td>
                                    <input class="form-control" type="text" id="name" name="name" placeholder="Enter a name..." value="<%= locals.contactToEdit.name %>" required />
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-label" for="number">Phone Number</label></td>
                                <td>
                                    <input class="form-control" type="text" id="number" name="number" placeholder="Enter a phone number..." value="<%= locals.contactToEdit.number %>" required />
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-label" for="email">Email</label></td>
                                <td>
                                    <input class="form-control" type="text" id="email" name="email" placeholder="Enter an email..." value="<%= locals.contactToEdit.email %>" required />
                                </td>
                            </tr>
                            <tr style="line-height: 70px; text-align: center">
                                <td colspan="2" >
                                    <a href="/contacts"><input class="btn btn-secondary" type="button" value="CANCEL" /></a>
                                    <input class="btn btn-success" style="margin-left: 20px;" type="submit" id="submitButton" value="CONFIRM" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
                <% if (locals.message) { %>
                    <div id="form-error" class="text-danger">
                        <%= locals.message %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</html>